<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

<!--        <menuitem id="menu_main_payable_reports"-->
<!--                  name="Payable Report"-->
<!--                  sequence="10"-->
<!--                  parent="account.menu_finance"/>-->

        <menuitem id="menu_main_tex_reports"
                  name="Tax Reports"
                  sequence="11"
                  parent="account.menu_finance"/>

        <menuitem id="menu_main_asset_reports"
                  name="Asset Reports"
                  sequence="11"
                  parent="account.menu_finance"/>

        <menuitem id="menu_main_withholding_tax"
                  name="Withholding"
                  parent="account.menu_finance_entries"
                  sequence="15"/>
    </data>
</odoo>

